<app-header>

<div class="container mt-5">
  <h2 class="text-center mb-4">Subject Information</h2>
  <div>
    <a routerLink="/subject" class="btn btn-primary float-end">Add Subject</a>
  </div>

  <div class="">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of this.subjects; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ subject.title }}</td>
          <td>
            <a routerLink="/subject/edit/{{subject.id}}" class="btn btn-success m-1">
              <i class="fa-regular fa-pen-to-square"></i>
            </a>
            <button type="button" (click)="deleteSubject($event, subject.id)" class="btn btn-danger m-1">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

</app-header>
