<app-header>

<div class="pt-5">

  <app-question-create></app-question-create>

  <form [formGroup]="answarForm">
    <div formArrayName="answarList" class="container mt-5">

      <button type="button" (click)="addAnswar()" class="btn btn-sm btn-warning ">Add</button>

      <div *ngFor="let answar of answarListArray().controls; let i = index;">


        <div [formGroupName]="i" class="d-flex m-2 form-group">
          <input id="answareText" type="text" formControlName="answareText" class="form-control m-2"  name="answareText" placeholder="Enter answar" required>
          <input id="points" type="number" formControlName="points" class="form-control m-2"  name="points" placeholder="Enter point" required>
          <input id="checkAnswar" type="checkbox" formControlName="checkAnswar" class="m-2"  name="checkAnswar" required> Correct Answer

          <button type="button" (click)="removeAnswar(i)" class="btn btn-sm btn-danger ms-1">Remove</button>
        </div>

      </div>

      <button type="submit" (click)="getFormData()" class="btn btn-primary">Submit</button>

    </div>

  </form>


</div>

</app-header>
